/.venv
/_smoke
/_tmp
/data
bronze/__pycache__
silver/__pycache__
tests/__pycache__
silver/_recon/bppidsys/__pycache__
silver/_recon/pidsys/__pycache__
silver/_recon/pidtool/__pycache__
metastore_db
spark-warehouse
derby.log
